.widget {
    visibility: visible;
    opacity: 1;
    transition: all .5s ease-in-out;
    span{color: rgb(119, 182, 161);}
}

.cartWidget {
    font-size: 25px;
    color: rgb(119, 182, 161);
}


.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

:link {
    text-decoration: none;
       
}